<!--
<h3>{{ 'The JSON Object' }}</h3>
<pre>{{ handtohandaudiolabels | json }}</pre>
-->
<header ng-include="'nav.html'"></header>

<div class="container-fluid">
	<div class="col-md-9 col-md-push-3">

		<div ng-show="showCalibration == true">
			<div class="well">
				<h2>Calibration Information</h2>
				<p><strong>Pointing Zone Radius: </strong>{{ radius }}</p>
				<p><strong>Pointing Zone Timer: </strong>{{ pointingtimer }}</p>
				<p><strong>Audio Threshold: </strong>{{ audiothreshold }}</p>
			</div>
		</div>

		<div ng-show="showPrecisionPlot == true">
			<div class="well">
				<canvas id="line" class="chart-line" chart-data="precisionPlot[trialNumber].data" chart-labels="precisionPlot[trialNumber].labels" chart-series="precisionPlot[trialNumber].series" chart-options="precisionPlot[trialNumber].options" chart-dataset-override="precisionPlot[trialNumber].override" chart-click="onClick"></canvas>
			</div>
		</div>

		<div ng-show="showRangePlot == true">
			<div class="well">
				<h5 align="center"> {{ "Left Hand" }} </h5>
				<canvas id="base" class="chart-bubble" chart-data="rangePlot[trialNumber].left" chart-options="rangePlot[trialNumber].options" chart-dataset-override="rangePlot[trialNumber].override" chart-colors="colors"></canvas>
			</div>
			<div class="well">
				<h5 align="center"> {{ "Right Hand" }} </h5>
				<canvas id="base" class="chart-bubble" chart-data="rangePlot[trialNumber].right" chart-options="rangePlot[trialNumber].options" chart-colors="colors"></canvas>
			</div>
		</div>

		<div ng-show="showSpinePlot == true">
			<div class="well">
				<h5 align="center"> {{ "Spine Mid" }} </h5>
				<canvas id="base" class="chart-bubble" chart-data="rangePlot[trialNumber].spinemid" chart-options="rangePlot[trialNumber].options" chart-colors="colors"></canvas>
			</div>
		</div>

		<div ng-show="showHandDistancePlot == true">
			<div class="well">
				<canvas id="line" class="chart-line" chart-data="handtohandaudioPlot[trialNumber].data" chart-labels="handtohandaudioPlot[trialNumber].labels" chart-series="handtohandaudioPlot[trialNumber].series" chart-options="handtohandaudioPlot[trialNumber].options" chart-dataset-override="handtohandaudioPlot[trialNumber].override" chart-click="onClick"></canvas>
			</div>
		</div>

		<div ng-show="showDetails == true">
			<div class="well">
				<h2>Details</h2>
				<p><strong>Session ID: </strong>{{ sessiondata._id }}</p>
				<p><strong>Patient ID: </strong>{{ sessiondata.Patient }}</p>
			</div>
		</div>

	</div>

	<div class="col-md-3 col-md-pull-9 well">
		<h1> {{ "Session " + sessionindex + " Breakdown" }} </h1>
		<p><strong>Session ID: </strong>{{ sessionID }}</p>
		<p><strong>Date: </strong>{{ start | date }}</p>
		<p><strong>Time: </strong>{{ start | date: 'shortTime' }}{{ " - " }}{{ end | date: 'shortTime' }}</p>
		<p><strong>Duration: </strong>{{ duration + ' sec'}}</p>

		<div class="container">
			<form>
				<div class="checkbox">
					<label class="checkbox-inline">
						<input type="checkbox" value="">Trial 1
					</label>
				</div>
				<div class="checkbox">
					<label class="checkbox-inline">
						<input type="checkbox" value="">Trial 2
					</label>
				</div>
				<div class="checkbox">
					<label class="checkbox-inline">
						<input type="checkbox" value="">Trial 3
					</label>
				</div>
			</form>
		</div>

		<div class="btn-group-vertical">
			<button type="button" class="btn" ng-model="calibration" uib-btn-radio="''" uncheckable ng-click="showCalibration = !showCalibration">Calibration Information</button>

			<button type="button" class="btn" ng-model="locate" uib-btn-radio="''" uncheckable ng-click="showLocatePlots = !showLocatePlots">Locate Objective Data</button>
			
			<button type="button" class="btn btn-default" ng-model="precisionmodel" uib-btn-radio="''" uncheckable ng-show="showLocatePlots == true" ng-click="showPrecisionPlot = !showPrecisionPlot">Precision</button>
			<button type="button" class="btn btn-default" ng-model="range" uib-btn-radio="''" uncheckable ng-show="showLocatePlots == true" ng-click="showRangePlot = !showRangePlot">Range of Motion</button>
			<button type="button" class="btn btn-default" ng-model="deviation" uib-btn-radio="''" uncheckable ng-show="showLocatePlots == true" ng-click="showSpinePlot = !showSpinePlot">Spinal Deviation</button>

			<button type="button" class="btn" ng-model="describe" uib-btn-radio="''" uncheckable ng-click="showDescribePlots = !showDescribePlots">Describe Objective Data</button>
			<button type="button" class="btn btn-default" ng-model="handtohand" uib-btn-radio="''" uncheckable ng-show="showDescribePlots == true" ng-click="showHandDistancePlot = !showHandDistancePlot">Hand to Hand and Audio</button>

			<button type="button" class="btn" ng-model="radioModel" uib-btn-radio="''" uncheckable ng-click="showDetails = !showDetails">Session Details</button>
		</div>

	</div>
</div>

<hr><footer><p>2017 Kinect Speech Capstone Group</p></footer>
